/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2019, 3:57:50 AM
    Author     : Predator X21
*/

.parent{
    -fx-background-color: #fff;
}
.sidebar{
    -fx-background-color: #333645;
}

.btn1{
    -fx-background-color: linear-gradient(#461BC5, #368B36);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.text1{
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-background-color: gray;
}

.autoPilot{
    -fx-background-image: url("../../robot/assets/login/auto.png");
}
